/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
/fuel/app/config/development/*
!/fuel/app/config/development/db_template.php
nbproject/

# Casset ignore

/public/assets/cache/*
!/public/assets/cache/.gitkeep
