/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
/fuel/app/config/development/*
!/fuel/app/config/development/db_template.php
nbproject/

# Casset ignore

/public/assets/cache/*
!/public/assets/cache/.gitkeep

# Projects image file ignore
/public/assets/img/projects/*
!/public/assets/img/projects/.gitkeep

# Ignore user images
/public/assets/img/user/*
!/public/assets/img/user/.gitkeep

#Ignore the pages 
/fuel/app/views/pages/load/*
!/fuel/app/views/pages/load/.gitkeep
